#!/usr/bin/env bash

getout=$(cat << "EOF"
  ▄████ ▓█████▄▄▄█████▓    ▒█████   █    ██ ▄▄▄█████▓ ▐██▌  ▐██▌  ▐██▌  ▐██▌  ▐██▌ 
 ██▒ ▀█▒▓█   ▀▓  ██▒ ▓▒   ▒██▒  ██▒ ██  ▓██▒▓  ██▒ ▓▒ ▐██▌  ▐██▌  ▐██▌  ▐██▌  ▐██▌ 
▒██░▄▄▄░▒███  ▒ ▓██░ ▒░   ▒██░  ██▒▓██  ▒██░▒ ▓██░ ▒░ ▐██▌  ▐██▌  ▐██▌  ▐██▌  ▐██▌ 
░▓█  ██▓▒▓█  ▄░ ▓██▓ ░    ▒██   ██░▓▓█  ░██░░ ▓██▓ ░  ▓██▒  ▓██▒  ▓██▒  ▓██▒  ▓██▒ 
░▒▓███▀▒░▒████▒ ▒██▒ ░    ░ ████▓▒░▒▒█████▓   ▒██▒ ░  ▒▄▄   ▒▄▄   ▒▄▄   ▒▄▄   ▒▄▄  
 ░▒   ▒ ░░ ▒░ ░ ▒ ░░      ░ ▒░▒░▒░ ░▒▓▒ ▒ ▒   ▒ ░░    ░▀▀▒  ░▀▀▒  ░▀▀▒  ░▀▀▒  ░▀▀▒ 
  ░   ░  ░ ░  ░   ░         ░ ▒ ▒░ ░░▒░ ░ ░     ░     ░  ░  ░  ░  ░  ░  ░  ░  ░  ░ 
░ ░   ░    ░    ░         ░ ░ ░ ▒   ░░░ ░ ░   ░          ░     ░     ░     ░     ░ 
      ░    ░  ░               ░ ░     ░               ░     ░     ░     ░     ░    

EOF
)

message=$(cat << "EOF"

  ██████  ▄▄▄     ▄▄▄█████▓ ▄▄▄       ███▄    █   ██████     ██▓███   ▄▄▄       ██▓    ▄▄▄       ▄████▄  ▓█████ 
▒██    ▒ ▒████▄   ▓  ██▒ ▓▒▒████▄     ██ ▀█   █ ▒██    ▒    ▓██░  ██▒▒████▄    ▓██▒   ▒████▄    ▒██▀ ▀█  ▓█   ▀ 
░ ▓██▄   ▒██  ▀█▄ ▒ ▓██░ ▒░▒██  ▀█▄  ▓██  ▀█ ██▒░ ▓██▄      ▓██░ ██▓▒▒██  ▀█▄  ▒██░   ▒██  ▀█▄  ▒▓█    ▄ ▒███   
  ▒   ██▒░██▄▄▄▄██░ ▓██▓ ░ ░██▄▄▄▄██ ▓██▒  ▐▌██▒  ▒   ██▒   ▒██▄█▓▒ ▒░██▄▄▄▄██ ▒██░   ░██▄▄▄▄██ ▒▓▓▄ ▄██▒▒▓█  ▄ 
▒██████▒▒ ▓█   ▓██▒ ▒██▒ ░  ▓█   ▓██▒▒██░   ▓██░▒██████▒▒   ▒██▒ ░  ░ ▓█   ▓██▒░██████▒▓█   ▓██▒▒ ▓███▀ ░░▒████▒
▒ ▒▓▒ ▒ ░ ▒▒   ▓▒█░ ▒ ░░    ▒▒   ▓▒█░░ ▒░   ▒ ▒ ▒ ▒▓▒ ▒ ░   ▒▓▒░ ░  ░ ▒▒   ▓▒█░░ ▒░▓  ░▒▒   ▓▒█░░ ░▒ ▒  ░░░ ▒░ ░
░ ░▒  ░ ░  ▒   ▒▒ ░   ░      ▒   ▒▒ ░░ ░░   ░ ▒░░ ░▒  ░ ░   ░▒ ░       ▒   ▒▒ ░░ ░ ▒  ░ ▒   ▒▒ ░  ░  ▒    ░ ░  ░
░  ░  ░    ░   ▒    ░        ░   ▒      ░   ░ ░ ░  ░  ░     ░░         ░   ▒     ░ ░    ░   ▒   ░           ░   
      ░        ░  ░              ░  ░         ░       ░                    ░  ░    ░  ░     ░  ░░ ░         ░  ░
░ 

EOF
)

{{#users}}
  cd /home/{{login}}

  echo "$message" > message
  chmod 404 message
  echo 'cat message' >> .bashrc

  # change password
  echo -e "{{variables.satans_palace_password}}\\n{{variables.satans_palace_password}}" | passwd {{login}}

  msg="CONGRATS YOU ARE THE SSH INCEPTION MASTER. Here is your proof: {{variables.master_string}}"

  echo "${msg}" | tr '[A-Za-z]' '[X-ZA-Wx-za-w]' > final_flag

  chown {{login}}:{{login}} *
  chmod 400 *

  # moved from /tmp to home because /tmp may get wiped
  echo "$getout" > .getout
  chmod 404 .getout
  echo 'cat .getout' >> .bashrc

  echo 'exit' >> .bashrc
{{/users}}
